{{> head}}
{{> navbar}}

<div class="row">

<div class="col-8">
<h1>Tabla de prueba</h1>
</div>

<div class="col-4">
    <img src="/assets/img/bootstrap-stack.png" alt="img-thumbnail">
</div>


</div>

   {{> footer}}